@media only screen and (max-width: 600px) {

    .crew-flex {
        flex-direction: column;
    }

    .person-img--full {
        top: 59%;
        left: 55%;
        max-height: 290px;
        height: 100%;
    }

    .crew-card:hover .crew-circle::before {
        clip-path: circle(300px at left);
    }
}

