* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    background: #233142;
}
.container {
    max-width: 600px;
    margin: auto;
    padding: 0 15px;
}

.standards_grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
          "CIMP"
          "ISO-27001"
          "ISO-29134"
         "IISO-27001"
         "ISO-3100"
         "Prince"
         "ISO-19011"
          "ISO-27005";
    gap: 20px;
    place-content: center;
    min-height: 100vh;
}

.standards_box {
    background-color: #e3e3e3;
    color: #455d7a;
    border-radius: 20px;
    padding: 10px 20px 20px;
}

.standards_paragraph {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.standards_heading {
    color: #f95959;
}

.cimp {
    grid-area: CIMP;
}

.ISO-27001 {
    grid-area: ISO-27001;
}

.ISO-29134 {
    grid-area: ISO-29134;
}

.IISO-27001 {
    grid-area: IISO-27001;
}

.ISO-3100 {
    grid-area: ISO-3100;
}

.Prince {
    grid-area: Prince;
}

.ISO-19011 {
    grid-area: ISO-19011;
}

.ISO-27005 {
    grid-area: ISO-27005;
}